html { 
    background: url(kitties.jpg); 
    background-size: cover;
  }

#button {
  display:inline-block;
 padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
  background-color: #a2f3f7;
  margin:0 0.3em 0.3em 0;
 border-radius:0.22em;
 box-sizing: border-box;
    }


h1{
    box-sizing: content-box;
  border-radius: 10px;
  border: 10px solid transparent;
  padding: 5px;
    font-family: Garamond, serif;
    background-color:whitesmoke
    font-size: 24px;
    margin: auto;
    width: 60%;
    text-align: center;
  }

  #text {
    background-color: white;
    border: 15px solid transparent;
    padding: 15px;
    border-image: url(color-gradient-2.jpeg) 10 round;
  }


#mike_face {
    border-radius: 50%;
    max-width: 275px;
    border: 10px solid white;
  }